@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #57f1f9;
}

.custom-typewriter {
  font-family: "Pacifico", sans-serif; /* Apply the Google Font */
  font-size: larger;
  color: #007bff; /* Initial color */
  animation: alternate-colors 6s infinite; /* Apply animation */
}

@keyframes alternate-colors {
  0% {
    color: #007bff; /* Start with blue */
  }
  33% {
    color: #ff0000; /* Transition to red */
  }
  66% {
    color: #00b300; /* Transition to green */
  }
  100% {
    color: #007bff; /* Back to blue */
  }
}

.container {
  margin: 0;
  text-align: center;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.typewriter {
  transition: font-weight 0.5s ease;
}

.typewriter:hover {
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.gray-background {
  background-color: rgba(128, 128, 128, 0.5); /* 50% transparent gray */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.gray-background:hover {
  background-color: rgba(
    128,
    128,
    128,
    0.8
  ); /* Less transparent gray on hover */
}

.notification-bg {
  background-color: rgba(217, 217, 217, 0.5); /* 50% transparent gray */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.notification-bg:hover {
  background-color: rgba(
    215,
    213,
    213,
    0.8
  ); /* Less transparent gray on hover */
}

.nav {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1 rem;
}

.site-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  font-family: "Nunito";
  background-color: #777;
  font-display: swap;
  transition: background-color 0.5s ease;
  font-weight: bold;
}

.nav li {
  transition: background-color 0.5s ease; /* Apply transition to all list items */
}

.nav li:hover {
  background-color: #777;
  font-weight: bold;
}

.nav li:active {
  background-color: #777;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  transition: background-color 0.5s ease;
  /* transition: border 0.5s ease; */
  /* border: 1px solid #ccc; */
}

.search-bar input:hover {
  background-color: #efefef;
  border: 2px solid #007bff;
}

.search-bar input:focus {
  background-color: #ffffff;
  outline: none;
}

.search-bar button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-family: "Nunito";
  transition: background-color 0.5s ease;
  /* transition: font-weight 0.5s ease; */
}
.search-bar button:hover {
  background-color: #0069d9;
  /* font-weight: bold; */
}

/* .nav li a:hover{
    color: white;
    transition: color 0.5s ease;
} */
.logo {
  width: 150px;
  height: 60px;
  opacity: 0.8;
  transition: opacity 0.5s ease; /* Apply transition to the opacity property */
}

.logo:hover {
  opacity: 1; /* Reduce opacity on hover */
}

img {
  transition: transform 0.5s ease; /* Apply transition to the transform property for all images */
}

img:hover {
  transform: scale(1.01); /* Enlarge image on hover */
}

.anime-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.anime-list-item {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 1 0 calc(33.333% - 20px);
  box-sizing: border-box;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: block;
  clear: both;
  background: linear-gradient(to left, #190f04, #494547);
  /* border-bottom: 1px solid #ccc; */
  animation: gradientAnimation 5s linear infinite;
  /* transition: background 2s ease-out; */
  animation-duration: 2.2s;
  animation-name: paragato;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.anime-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  float: left;
}

.anime-list-item {
  border: 1px solid #ccc;
  padding: 20px;
  flex: 1 0 calc(100% - 40px);
  box-sizing: border-box;
}

.pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.multiselect {
  width: 200px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
}

/* Responsive Styles */
@media (max-width: 1920px) {
  .anime-list-item {
    flex: 1 0 calc(25% - 40px);
  }
}

@media (max-width: 1200px) {
  .anime-list-item {
    flex: 1 0 calc(33.333% - 40px);
  }
}

@media (max-width: 768px) {
  .anime-list-item {
    flex: 1 0 calc(50% - 40px);
  }
}

@media (max-width: 576px) {
  .anime-list-item {
    flex: 1 0 calc(100% - 40px);
  }
}
